@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
}

.todo{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #FFFFFF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23DCDCDC' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23D3D3D3'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}

.volver{
    height: 150px;
    width: 150px;
    display: flex;
    position: absolute;
    left: 0;
    top: 10px;
    justify-content: center;
    align-items: center;
}

.volver i{
    font-size: 100px;
    color: rgb(0, 0, 0);
}

option{
    color: black;
}


#tablas{
    display: flex;
    justify-content: center;
    align-items: center;
}

#tablafind{
    margin-top: 20px;
    width: 700px;
    height: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
}

.tododentrotablas{
    background-color: rgba(238, 238, 238, 0.514);
    padding: 15px;
    border-radius: 10px;
}

td, th{
    border: solid 1px rgb(204, 204, 204);
    text-align: center;
    padding: 8px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

th{
    background-color: black;
    color: white;
    width: 150px;

}

#h22{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 13px;
    margin-top: 5px;
    color: red;
}


button{
    border: none;
    background-color: #ac2828;
    color: white;
    padding: 4px;
    border-radius: 4px;
}

button:hover{
    transition: 0.2s;
    transform: scale(1.1);
    cursor: pointer;
}

.swal2-title {
    font-family: 'Fira Sans';
    font-size: 1.475em;
    font-weight:100;

  }

button.swal2-confirm.swal2-styled{
    width: 100px;
    height: 40px;
    background-color: #3eac28;
    margin: 0;
}

#swal2-html-container{
    font-family: "Fira Sans";
}

div.swal2-actions{
    display: flex;
    width: 300px;
    justify-content: space-around;
}

button.swal2-cancel.btn.btn-danger{
    width: 100px;
    height: 40px;
    border-radius: 3px;
    background-color: #ac2828;
    color: white;
}

button.swal2-confirm.btn.btn-success{
    width: 100px;
    height: 40px;
    border-radius: 3px;
    background-color: rgb(62, 172, 40);
    color:white
}

@media (max-width: 600px) {
    .volver i{
        font-size: 50px;
        color: rgb(0, 0, 0);
    }
    td, th{
        font-size: 10px;
        padding: 0;
        height: 40px;
        width: 70px;
    } 

    button{
        height: 20px;
        min-width: 4px;
        font-size: 9px;
    }

}

